# Maven build folders
target/
out/

# Maven wrapper
.mvn/
mvnw
mvnw.cmd

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
.idea/libraries/
.idea/modules.xml
.idea/compiler.xml
.idea/jarRepositories.xml

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Mac OS
.DS_Store
